.header {
  &__heading {
    font-family: 'Schoolbell', cursive;
    font-size: calc(3rem + 2.7vw);
    line-height: 1;
    color: var(--dark-cyan);
    margin: 1.25rem 0 1.5625rem;
    text-shadow: 0.02em 0.02em 0.02em var(--green),
      -0.02em -0.02em 0.02em var(--green), 0 0 0.2em var(--green);

    span {
      font-size: 0.5em;
      margin: 0 -0.5ch;
      vertical-align: middle;
    }
  }
}
