.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  margin-bottom: 1rem;

  &__info {
    flex-basis: 100%;
    font-size: 1.125rem;
  }

  &__btn {
    display: inline-block;
    font: inherit;
    font-size: 1.375rem;
    font-weight: 600;
    background: none;
    border: none;
    min-width: 8.4375rem;
    color: inherit;
    padding: 0.625rem;
    cursor: pointer;
    background-color: var(--dark-grey);
    box-shadow: 0 0 0 0.1875rem var(--grey);
  }
}
