.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 1.875rem;

  &__label {
    font-size: 1.5625rem;
  }

  &__input {
    font-family: inherit;
    font-size: 1.25rem;
    max-width: 100%;
    width: 17.5rem;
    height: 2.1875rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
    color: var(--black);
    background-color: var(--white);
    box-shadow: 0 0 0 0.1875rem rgba(0, 0, 0, 0.3);

    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.1875rem var(--dark-cyan);
    }
  }
}