* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: var(--white);
  min-height: 100vh;
  padding: 1.25rem;
  text-align: center;
  text-shadow: 0.0625rem 0.0625rem 0.0625rem var(--black);
  background:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
    var(--black)
      url('https://images.unsplash.com/photo-1506703719100-a0f3a48c0f86?&w=1920&h=1080&fit=crop')
      no-repeat center fixed;
  background-size: cover;
}

:focus {
  outline: 0.1875rem solid var(--dark-cyan);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
