/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section  {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Base Styles */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #fff;
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #111;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.8)),
              #111 url(https://source.unsplash.com/RF4p4rTM-2s/1280x720) no-repeat center fixed;
    background-size: cover;
}

:focus {
    outline: 3px solid #02b1c8;
}

/* Heading */

.heading {
    font-family: 'Schoolbell', serif;
    font-size: 100px;
    line-height: 1.0;
    color: #02b1c8;	
    margin: 20px 0 25px;
    text-shadow: 0.02em 0.02em 0.02em #7ffa67,
                 -0.02em -0.02em 0.02em #7ffa67,
                 0 0 0.2em #7ffa67;
    animation: textShadow 2s linear infinite alternate;
}

.heading span {
    font-size: 50px;
    margin: 0 -12px;
    vertical-align: middle;
}

/* Search */

.search-loader {
	width: 50px;
	height: 50px;
	border: 4px solid #fff;
	border-top-color: transparent;
	border-radius: 50%;
	margin: 0 auto;
	animation: spin 500ms linear infinite;
}

.search-input-label {
    display: block;
    font-size: 25px;
}

.search-input {
    font-family: inherit;
    font-size: 20px;
    max-width: 100%;
    width: 280px;
    height: 35px;
    border: none;
    border-radius: 15px;
    margin: 10px 0 30px;
    text-align: center;
    color: #111;
    background-color: #e5e5e5;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #02b1c8;	
}

.search-output {
    max-width: 750px;
    margin: 0 auto 20px;
}

/* Characters */

.character-details {
    border-bottom: 2px solid #151515;
}

.character-summary {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    padding: 20px;
    background-color: #222;
    cursor: pointer;
}

.character-container {
    display: flex;
    line-height: 1.2;
    padding: 25px;
    background-color: #333;
    border-top: 2px solid #151515;
}

.character-info {
    flex: 1;
    margin-right: 25px;
}

.character-info-item-summary {
    font-size: 25px;
    font-weight: 400;
    color: #00e1ff;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.character-info-item-data {
    font-size: 22px;
    margin-bottom: 10px;
}

.character-image-container {
    flex: 1;
    display: flex;
}

.character-image {
    max-width: 100%;
    margin: auto;
    border: 5px solid #fcfcfc;
    border-radius: 20px;
}

.no-results {
    font-size: 30px;
}

/* Page Navigation */

.page-btn {
    display: inline-block;
    font: inherit;
    font-size: 22px;
    font-weight: 600;
    background: none;
    border: none;
    color: inherit;
    padding: 10px 20px;
    margin: 10px;
	cursor: pointer;
    background-color: #222;
    box-shadow: 0 0 0 3px #333;
}

/* Media Queries */

@media (max-width: 600px) {
    .character-container {
        flex-direction: column;
    }
    
    .character-info {
        order: 1;
        margin-top: 25px;
        margin-right: 0;
    }

    .character-image-container {
        display: block;
    }
}

/* Animations */

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
